<div class="manager-profile-container">
  <div class="home-content">

    <!-- User Image Section -->
    <div class="user-image" *ngIf="currentUser">
      <img src="https://via.placeholder.com/150" alt="User Image">
      <p> {{ currentUser.email }}</p>
      <button>Update</button>
    </div>
    <div class="dividerr"></div> <!-- Divider added here -->
    <!-- Personal Information Section -->
    <div class="user-info" *ngIf="currentUser">
      <h3>Personal Information</h3>
      <div class="divider"></div> <!-- Divider added here -->
      <div class="info-fields">

        <div class="field-group">
          <p><strong>First Name:</strong> 
            <input 
              type="text" 
              [(ngModel)]="currentUser.firstName" 
              placeholder="Enter First Name"
            >
          </p>
        </div>
        <div class="field-group">
            <p><strong>Last Name:</strong> 
            <input 
              type="text" 
              [(ngModel)]="currentUser.lastName" 
              placeholder="Enter Last Name"
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
