.events-body {
  height: 90vh;
  background-color: 'transperent';
  display: flex;

}


/* Container for Events */
.events-container {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  color: #333;
  background-color: 'transperent';
  background: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 2px solid #ff5e00;
  padding-bottom: 10px;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 500;
}

/* Week Selector */
.week-selector {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.week-selector label {
  font-size: 1.125rem;
  color: #ffffff;
  margin-right: 10px;
  font-weight: 500;
}

.week-input-container {
  position: relative;
}

.week-input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 6px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #222;
  color: #fff;
}

.week-input:focus {
  border-color: #00aaff;
  box-shadow: 0 0 4px rgba(0, 170, 255, 0.3);
}

/* Calendar Icon */
.calendar-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-size: contain;
  pointer-events: none;
}

/* Events List */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  border-radius: 6px;
  background-color: #ff5e00;
  border-bottom: 1px solid #444;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 10px;
}

li:hover {
  background-color: #444;
  transform: translateY(-2px);
}

strong {
  font-weight: bold;
  color: white;
  text-decoration: none;
}


/* No Events Message */
p {
  font-size: 1.125rem;
  color: #ccc;
  text-align: center;
  margin-top: 20px;
}
