<div class="events-body">
  <div class="events-container">
    <div class="events-header">
      <h1 class="title">Events</h1>
      <div class="week-selector">
        <label for="week">Select Week:</label>
        <div class="week-input-container">
          <input
            type="week"
            id="week"
            [value]="selectedWeek"
            (change)="onWeekChange($event)"
            class="week-input"
          />
          <span class="calendar-icon"></span>
        </div>
      </div>
    </div>
    <div class="divider"></div> <!-- Divider added here -->
    <div class="event-cards">
      <div class="event-card" *ngFor="let event of upcomingEvents" (click)="navigateToEvent(event)">
        <img class="event-card-image" [src]="event.image" alt="{{ event.name }}">
        <div class="event-card-content">
          <h2 class="event-card-title">{{ event.name }}</h2>
          <p class="event-card-date">{{ event.date | date:'fullDate' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
