<div class="home-container">
  <div class="home-content">
      <div class="text-content">
        <h1 class="home-title">MacLaren's Pub</h1>
        <p>Dobro došli u <strong>MacLaren's</strong> jedan od najomiljenijih pabova u Novom Sadu, smešten u Njegoševoj ulici broj 11. Otvoren 2005. godine, MacLaren's je mesto gde se susrecu prijatelji, dobra atmosfera i bogata ponuda pića.</p>
        <p>Inspirisan pabom iz popularne serije <strong>How I Met Your Mother</strong>, naš pab pruža autentičan doživljaj, savršen za uživanje u veselim večernjim okupljanjima.</p>
        <p>Bez obzira da li ste ljubitelj piva, koktela ili želite da probate neko od naših domaćih specijaliteta, naš meni je kreiran da zadovolji svačiji ukus. Posetite nas i uverite se sami!</p>
      </div>
    <div class="slider">
      <div class="slides">
        <input type="radio" name="radio-btn" id="radio1" checked> 
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3"> 
        <input type="radio" name="radio-btn" id="radio4"> 
        <div class="slide first"> 
          <img src="assets/image1.jpeg" alt="Inside">
        </div>
        <div class="slide"> 
          <img src="assets/beer.jpeg" alt="Maclarens HD">
        </div>
        <div class="slide"> 
          <img src="assets/background1.jpg" alt="Background 1">
        </div>
        <div class="slide"> 
          <img src="assets/background2.jpg" alt="Background 2">
        </div>
   
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>

      </div>
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
    </div>
  </div>
</div>
