<div class="home-container">
  <div class="home-content">
    <div class="text-content">
      <h1 class="home-title">MacLaren's Pub</h1>
      <p>Welcome to <strong>MacLaren's</strong>, one of the most beloved pubs in Novi Sad, located at Njegoševa Street No. 11. Opened in 2005, MacLaren's is a place where friends, a great atmosphere, and a wide selection of drinks meet.</p>
      <p>Inspired by the pub from the popular series <strong>How I Met Your Mother</strong>, our pub offers an authentic experience, perfect for enjoying lively evening gatherings.</p>
      <p>Whether you're a fan of beer, cocktails, or want to try one of our local specialties, our menu is designed to satisfy everyone's taste. Visit us and see for yourself!</p>
    </div>
    
    <div class="slider">
      <div class="slides">
        <input type="radio" name="radio-btn" id="radio1" checked> 
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3"> 
        <input type="radio" name="radio-btn" id="radio4"> 
        <div class="slide first"> 
          <img src="assets/image1.jpeg" alt="Inside">
        </div>
        <div class="slide"> 
          <img src="assets/beer.jpeg" alt="Maclarens HD">
        </div>
        <div class="slide"> 
          <img src="assets/background1.jpg" alt="Background 1">
        </div>
        <div class="slide"> 
          <img src="assets/background2.jpg" alt="Background 2">
        </div>
   
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>

      </div>
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
    </div>
  </div>
</div>
