<div class="event-details-container">
  <div class="event-details-content">
    <h2>{{ event?.name }}</h2>
    <p>{{ formatDateTime(event?.date) }}</p>
    <hr class="divider" />
    <div class="columns">
      <div class="event-info">
        <p>{{ event?.description }}</p>
        <button *ngIf="userType === 0" class="reserve-table-button" (click)="toggleReservation()">Choose Table</button>
        <button *ngIf="userType !== 0" class="generate-pdf-button" (click)="generatePdf()">Generate PDF</button>
      </div>
      <div class="image-container1">
        <img *ngIf="event?.imageSrc" [src]="event?.imageSrc" alt="Event Image" class="event-image">
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" [ngClass]="{'show': isReservationOpen}">
  <div class="popup-content">
    <button class="close-button" (click)="toggleReservation()">×</button>
    <div class="popup-body">
      <div class="image-container2">
        <img 
          src="assets/maclarensHD.jpg" 
          alt="Event Image" 
          class="popup-image" 
          usemap="#table-map"
        >
        <div *ngFor="let area of tableAreas" 
             class="overlay" 
             [ngStyle]="getOverlayStyle(area)">
        </div>
      </div>
      <div class="info-container">
        <h3>Choose a table</h3>
        <hr class="divider2" />
        <div class="status-box">
          <span class="green-box"></span>
          <p>Selected</p>
        </div>
        <div class="status-box">
          <span class="brown-box"></span>
          <p>Available</p>
        </div>
        <div class="status-box">
          <span class="red-box"></span>
          <p>Reserved</p>
        </div>
        <button class="popup-reserve-button" (click)="reserveTable()">Reserve Now</button>
      </div>
    </div>
    <map name="table-map">
      <area 
        *ngFor="let area of tableAreas" 
        [attr.shape]="area.shape" 
        [attr.coords]="area.coords" 
        (click)="selectArea(area.id)"
      >
    </map>
  </div>
</div>