/* isto  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* isto  */
.event-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: transparent;
  margin-bottom: 30px;
}
/* isto  */
.event-details-content {
  margin-top: 20px;
  padding: 15px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.9);
  border: black solid 5px;
  border-radius: 8px;
  max-width: 1200px;
  text-align: center;
}
/* isto  */
.event-details-content h2 {
  color: #ff5e00;
}
/* isto  */
.event-details-content p {
  color: white;
}
/* isto  */
.divider {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #ff5e00;
}
/* isto  */
.divider2 {
  margin-top: -10px;
  margin-bottom: 25px;
  border: none;
  border-top: 2px solid #ff5e00;
}

/* isto  */
.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* isto  */
.event-info {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 20px;
  font-size: 1.5rem;
}

.event-info p, 
.event-info button {
  margin: 10px 0;
}

.image-container1 {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(255, 94, 0, 0.6);

}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Tamnija pozadina za overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

/* Show popup when active */
.popup-overlay.show {
  visibility: visible;
  opacity: 1;
}

/* Popup content styling */
.popup-content {
  position: relative;
  width: 90%;
  max-width: 900px; /* Increased width to accommodate fixed image size */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px; /* Razmak između slika i informacija */
  box-sizing: border-box;
  background: #090909; /* Dark background */
  box-shadow: 0 0px 15px rgba(255, 94, 0, 0.6); /* Senka sa bojom #ff5e00 */

}

/* Close button styling */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ff9800;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #e68900;
}

/* Body of the popup */
.popup-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px; /* Adjusted gap for more space between image and info */
  width: 100%;
}

/* Image container styling */
.image-container2 {
  position: relative;
  flex: 0 1 auto; /* Automatically adjust size based on content */
  width: 550px; /* Fixed width */
  height: 458px; /* Fixed height */
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.6); /* Senka sa bojom #ff5e00 */
  border-radius: 11px;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid black;
}

/* Popup image styling */
.popup-image {
  width: 100%; /* Ensure image fills container */
  height: 100%; /* Ensure image fills container */
  object-fit: cover; /* Cover the container without distortion */
  border-radius: 8px;
}

/* Overlay for interactive areas on image */
.overlay {
  position: absolute;
  pointer-events: none;
}
.overlay:hover {
  cursor: pointer;
}
/* Info container styling */
.info-container {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000000; /* Bele boje za tekst */
}

/* Heading in info container */
.info-container h3 {
  margin-top: 30px;
  font-size: 1.8rem;
  color: #cccccc;
  margin-bottom: 25px;
  text-align: center;
  
}

/* Paragraph styling in info container */
.info-container p {
  font-size: 1.1rem;
  color: #cccccc;
  margin-bottom: 5px;
}

/* Box colors for table status */
.status-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.status-box span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

.status-box .green-box {
  background-color: rgba(0, 255, 0)
}

.status-box .brown-box {
  background-color: rgb(75, 47, 19);
}

.status-box .red-box {
  background-color: rgb(64, 60, 60);
}

/* Reserve button styling in popup */
.popup-reserve-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff5e00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.popup-reserve-button:hover {
  background-color: #e68900;
}
.reserve-table-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #ff5e00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.generate-pdf-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #ff5e00;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}